<nav class="nav-extended">
  <div class="nav-wrapper blue">
    <a href="/" class="brand-logo center">{{title}}</a>
    <a data-target="barra-lateral" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="left hide-on-med-and-down">
      <div *ngIf="user">
        <li>
          <img src="{{user.photoUrl}}" class="circle responsive-img myCircle">
        </li>
        <li>
          <h6>
            <span class="mySpan MyspanM">{{user.name}}</span>
            <span class="mySpan">{{user.email}}</span>
          </h6>
        </li>
      </div>
    </ul>

    <ul class="right hide-on-med-and-down">
      <div *ngIf="user; else loggedOut">
        <li>
          <a routerLink="/"><i class="fas fa-sm fa-home">Inicio</i></a>
        </li>
        <li>
          <a routerLink="/empleados"><i class="fas fa-sm fa-users">Empleados</i></a>
        </li>
        <li>
          <a routerLink="/" (click)="signOut()"><i class="fas fa-sm fa-sign-out-alt">Salir</i>
          </a>
        </li>
      </div>
      <!--Opciones para inicio con facebokk-->
      <ng-template #loggedOut>
        <li>
          <a routerLink="/" (click)="signInWithFacebook()">Facebook <i class="fab fa-md fa-facebook"></i></a>
        </li>
        <li>
          <a routerLink="/" (click)="signInWithGoogle()">Google <i class="fab fa-md fa-google"></i>
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
  <div class="nav-content blue">
    <ul class="tabs tabs-transparent">
      <li class="large material-icons">
        <a routerLink="/">home</a>
      </li>
      <li class="large material-icons">
        <a routerLink="/empleados">people</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="barra-lateral">
  <div *ngIf="user">
    <li>
      <img src="{{user.photoUrl}}" class="circle responsive-img myCircleSmall">
    </li>
    <li>
      <h6>
        <span class="mySpanSmall MyspanMSmall">{{user.name}}</span>
        <span class="mySpanSmall">{{user.email}}</span>
      </h6>
    </li>
    <li class="divider"></li>
  </div>
  <div *ngIf="loggedIn; else loggedOutSideNav">
    <li>
      <a routerLink="/"><i class="fas fa-sm fa-home">Inicio</i></a>
    </li>
    <li>
      <a routerLink="/empleados"><i class="fas fa-sm fa-users">Empleados</i></a>
    </li>
    <li>
      <a routerLink="/" (click)="signOut()"><i class="fas fa-sm fa-sign-out-alt">Salir</i>
      </a>
    </li>
  </div>
  <ng-template #loggedOutSideNav>
    <li>
      <a routerLink="/" (click)="signInWithFacebook()">Facebook <i class="fab fa-md fa-facebook"></i></a>
    </li>
    <li>
      <a routerLink="/" (click)="signInWithGoogle()">Google <i class="fab fa-md fa-google"></i>
      </a>
    </li>
  </ng-template >
</ul>
<router-outlet></router-outlet>